{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
<div class="article-details">
    {{ if $Page.Params.categories }}
    <header class="article-category">
        {{ range ($Page.GetTerms "categories") }}
            {{ $color := partial "helper/color-from-str" .LinkTitle }}
            {{ $BackgroundColor := default $color.BackgroundColor .Params.style.background }}
            {{ $TextColor := default $color.TextColor .Params.style.color }}
            <a href="{{ .RelPermalink }}" style="background-color: {{ $BackgroundColor | safeCSS }}; color: {{ $TextColor | safeCSS }};">
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ $Page.RelPermalink }}">
                {{- $Page.Title -}}
            </a>
        </h2>
    
        {{ with $Page.Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := $Page.Params.readingTime | default ($Page.Site.Params.article.readingTime) }}
    {{ $showDate := not $Page.Date.IsZero }}
    {{ $showLastmod := and (not $Page.Lastmod.IsZero) (ne $Page.Lastmod $Page.Date) }}
    {{ $showFooter := or $showDate $showReadingTime $showLastmod }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}
            <div class="article-meta-item">
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published" datetime='{{ $Page.Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- $Page.Date | time.Format $Page.Site.Params.dateFormat.published -}}
                </time>
            </div>
        {{ end }}

        {{ if $showLastmod }}
            <div class="article-meta-item article-meta-item--lastmod">
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--lastmod" datetime='{{ $Page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{ if eq $Page.Language.Lang "zh-cn" }}更新{{ else }}Updated{{ end }}: {{- $Page.Lastmod | time.Format $Page.Site.Params.dateFormat.published -}}
                </time>
            </div>
        {{ end }}

        {{ if $showReadingTime }}
            <div class="article-meta-item">
                {{ partial "helper/icon" "clock" }}
                <span class="article-time--reading">
                    {{ T "article.readingTime" $Page.ReadingTime }}
                </span>
            </div>
        {{ end }}
    </footer>
    {{ end }}

    {{ if $Page.IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range $Page.Translations }}
                    <a href="{{ .RelPermalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}

    {{ if and $Page.Site.Params.Article.List.ShowTags ($Page.GetTerms "tags") $IsList }}
        <footer class="article-header-tags">
            {{ partial "helper/icon" "tag" }}
            <div>
                {{ range ($Page.GetTerms "tags") }}
                    <a href="{{ .RelPermalink }}" class="link">{{ .LinkTitle }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
